
.idea/
.target/
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/site/apidocs/allclasses-frame.html
target/site/apidocs/allclasses-noframe.html
target/site/apidocs/constant-values.html
target/site/apidocs/deprecated-list.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/AbstractMedia.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/AbstractMediaLibrary.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/AbstractPerson.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/AbstractMedia.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/AbstractMediaLibrary.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/AbstractPerson.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/Director.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/ExistingAliasException.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/FourDigitException.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/IMediaLibrary.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/MainActor.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/Media.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/class-use/TypeOfMedia.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/Director.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/ExistingAliasException.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/FourDigitException.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/IMediaLibrary.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/MainActor.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/Media.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/package-frame.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/package-summary.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/package-tree.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/package-use.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem1/TypeOfMedia.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/AbstractDriver.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/AbstractRideSharingSystem.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/AbstractVehicle.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/AbstractViolations.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/Address.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/Application.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/AbstractDriver.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/AbstractRideSharingSystem.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/AbstractVehicle.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/AbstractViolations.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/Address.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/Application.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/Crash.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/CrashType.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/Driver.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/IDriver.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/Insurance.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/IRegistrationValidator.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/IRideSharingSystem.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/IVehicle.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/License.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/MovingViolation.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/MovingViolationsType.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/Name.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/NonMovingViolation.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/NonMovingViolationsType.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/RideSharingSystem.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/Vehicle.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/class-use/ViolationsHistory.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/Crash.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/CrashType.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/Driver.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/IDriver.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/Insurance.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/IRegistrationValidator.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/IRideSharingSystem.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/IVehicle.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/License.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/MovingViolation.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/MovingViolationsType.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/Name.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/NonMovingViolation.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/NonMovingViolationsType.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/package-frame.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/package-summary.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/package-tree.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/package-use.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/RideSharingSystem.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/Vehicle.html
target/site/apidocs/edu/neu/ccs/cs5004/Problem2/ViolationsHistory.html
target/site/apidocs/help-doc.html
target/site/apidocs/index-all.html
target/site/apidocs/index.html
target/site/apidocs/overview-frame.html
target/site/apidocs/overview-summary.html
target/site/apidocs/overview-tree.html
target/site/apidocs/serialized-form.html
target/site/checkstyle.html
target/site/checkstyle.rss
target/site/findbugs.html
target/site/jacoco/.sessions.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/AbstractRideSharingSystem.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/AbstractRideSharingSystem.java.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/Application.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/Application.java.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/index.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/index.source.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/IRegistrationValidator$1.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/IRegistrationValidator.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/IRegistrationValidator.java.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/RideSharingSystem.html
target/site/jacoco/edu.neu.ccs.cs5004.Problem2/RideSharingSystem.java.html
target/site/jacoco/index.html
target/site/jacoco/jacoco.csv
target/site/pmd.html
target/site/xref-test/allclasses-frame.html
target/site/xref-test/edu/neu/ccs/cs5004/Problem2/ApplicationTest.html
target/site/xref-test/edu/neu/ccs/cs5004/Problem2/LicenseTest.html
target/site/xref-test/edu/neu/ccs/cs5004/Problem2/package-frame.html
target/site/xref-test/edu/neu/ccs/cs5004/Problem2/package-summary.html
target/site/xref-test/edu/neu/ccs/cs5004/Problem2/RideSharingSystemTest.html
target/site/xref/edu/neu/ccs/cs5004/Problem2/AbstractRideSharingSystem.html
target/site/xref/edu/neu/ccs/cs5004/Problem2/IRegistrationValidator.html
target/site/xref/edu/neu/ccs/cs5004/Problem2/RideSharingSystem.html
target/surefire-reports/edu.neu.ccs.cs5004.Problem1.DirectorTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.AddressTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.ApplicationTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.CrashTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.DriverTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.InsuranceTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.NonMovingViolationTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.RideSharingSystemTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.VehicleTest.txt
target/surefire-reports/edu.neu.ccs.cs5004.Problem2.ViolationsHistoryTest.txt
target/test-classes/edu/neu/ccs/cs5004/Problem2/ApplicationTest.class
target/test-classes/edu/neu/ccs/cs5004/Problem2/LicenseTest.class
target/test-classes/edu/neu/ccs/cs5004/Problem2/RideSharingSystemTest.class
